body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #eef2f3;
  color: #333;
}

#toggle {
  display: none;
}

.trigger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: #3baa3b;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

#toggle:checked+.trigger {
  transform: rotate(360deg);
  background: #d93b3b;
}
#toggle:checked~.site-content {
  display: none;
}

.site-header {
  background: #006400;
  color: white;
  padding: 19px;
  text-align: center;
}


.site-nav ul li {
  display: inline-block;
  margin: 10px;
}

.site-nav ul li a {
  color: white;
}

.site-nav ul li a:hover {
  color: #cce5cc;
}

.site-main {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  background: white;
  border-radius: 8px;
}

.section h2 {
  padding-left: 10px;
  color: #006400;
  margin-bottom: 10px;
}

.site-footer {
  text-align: center;
  background: #006400;
  color: white;
  padding: 15px;

}

.container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: #eef2f3;
}

#toggle:checked~.logo {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(7, 40px);
  gap: 6px;
}

.cubo {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: #3baa3b;
  animation: aparecer 1s ease forwards;
}

.red {
  background: #d93b3b;
  border-radius: 70px;
}

@keyframes aparecer {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.logo h1 {
  color: black;
  opacity: 0;
  padding: 40px;
  animation: aparecerTexto 3s forwards;
}

@keyframes aparecerTexto {
  to {
    opacity: 1;
  }
}